:root{
    --poppins: 'Poppins', sans-serif;
    --open-sans: 'Open Sans', sans-serif;
    --Pink: hsl(322, 100%, 66%);
    --Light-Pink: hsl(321, 100%, 78%);
    --Light-Red: hsl(0, 100%, 63%);
    --Very-Dark-Cyan: hsl(192, 100%, 9%);
    --Very-Pale-Blue: hsl(207, 100%, 98%);
}
*{
    /* outline: solid 1px red; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header_container{
    width: 95%;
    margin: 0 auto;
    padding: 25px 0;
}
.nav_container{
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
}
.nav_img{
    width: 100px;
}
.nav_button{
    text-decoration: none;
    color: var(--Light-Red);
    border: solid 2px var(--Light-Pink);
    border-radius: 25px;
    padding: 5px 15px;
    font-size: 11px;
}
.hero_container{
    position: relative;
    margin-top: 100px;
    padding: 0 20px;
    text-align: center;
}
.hero_tittle{
    font-family: var(--poppins);
    font-size: 1.5em;
}
.hero_paragraph{
    margin-top: 20px;
    line-height: 1.5;
    font-family: var(--open-sans);
    font-size: 14px;

}
.button{
    text-decoration: none;
    color: var(--Light-Red);
    border-radius: 40px; 
    padding: 10px 30px;
    background-color: var(--Pink); 
    color: #fff;
    font-weight: 400;
    font-family: var(--poppins);
    box-shadow: 0 0 25px 1px #808080;
}
.hero_button{
    display: inline-block;
    margin-top: 25px;
}
.hero_img{
    display: block;
    width: 100%;
    max-width: 600px;
    margin: 125px auto 0;
}
.numberss{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 75px;
    margin-top: 75px;
    font-family: var(--poppins);
}
.numbers_number{
    font-size: 60px;
}
.numbers_container{
    text-align: center;
    width: 150px;
}
.numberss_img{
    display: block;
    width: 20%;
    max-width: 75px;
}
.numbers_paragraph{
    font-family: var(--poppins);
    font-size: 13px;
    color: rgb(158, 150, 150);
}
.ola_down{
    background-image: url(/images/bg-section-top-mobile-1.svg);
    width: 100%;
    height: 100px;
    background-repeat: no-repeat;
    background-size: 100% 100px;    
}
.section_container{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 0px;
}
.boxs_img{
    width: 100%;
    max-width: 600px;
    display: block;
    margin: 0 auto 75px;
}
.boxs_figure{
    width: 80%;
    margin: 0 auto;
}
.boxs_subtitles{
    font-family: var(--poppins);
}
.boxs{
    padding: 75px 15px;
    text-align: center;
}
.boxs_paragraph{
    line-height: 1.5;
    font-family: var(--open-sans);
    font-size: 15px;
    margin-top: 20px;
}
.bottom_mobile_1{
    background: url("/images/bg-section-bottom-mobile-1.svg");
    width: 100%;
    height: 100px;
    background-repeat: no-repeat;
    background-size: 100% 50px;
}
.box1{
    background-color: var(--Very-Pale-Blue);
}
.box2{
    background-color: #fff;
}

.box3{
    background-color: var(--Very-Pale-Blue);
}
.top_mobile_2{
    background: url("/images/bg-section-top-mobile-2.svg");
    width: 100%;
    height: 100px;
    background-repeat: no-repeat;
    background-size: 100% 100px;
}
.section_button_container{
    margin-top: 75px;
    text-align: center;
    padding: 0 15px;
}
.section_button{
    display: inline-block;
    margin-top: 40px;
    margin-bottom: 200px;
}
.section_button_subtitle{
    font-family: var(--poppins);
}
.bottom_mobile2{
    background: url("/images/bg-section-bottom-mobile-2.svg");
    width: 100%;
    height: 100px;
    background-repeat: no-repeat;
    background-size: 100% 75px;
}
.footerPage{
    padding: 65px 20px;
    background-color: var(--Very-Dark-Cyan);
    color: var(--Very-Pale-Blue);
    font-family: var(--poppins);
}
.contac_container{
    display: flex;
    flex-direction: column;
}
.contac_tittle{
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
}
.contac_paragraph{
    line-height: 2;
    font-size: 14px;
}
.contac_form{
    margin-top: 35px;
}
.contac_input{
    display: inline-block;
    width: 100%;
    height: 50px;
    border-radius: 7px;
    font-size: 16px;
    font-family: var(--poppins);
    padding: 5px;
}
.contac_button{
    border-radius: 7px;
    margin-top: 15px;
    background-color: var(--Pink);
    display: block;
    width: 150px;
    height: 50px;
    align-self: flex-end;
    font-family: var(--poppins);
    color: var(--Very-Pale-Blue);
    font-size: 16px;
}
.top_footer{
    background: url("/images/bg-footer-top-mobile.svg");
    width: 100%;
    height: 50px;
    background-repeat: no-repeat;
    background-size: 100% 50px;
    
}
.contac_information_container{
    color: var(--Very-Pale-Blue);
    margin-top: 25px;
    padding: 20px 0 0;
}
.information_logo{
    display: block;
    width: 215px;
    margin-left: -20px;
}
.email::after{
    margin-left: 35px;
    content: "example@huddle.com";
}
.phone::after{
    margin-left: 35px;
    content: "Phone: +1-543-123-4567";
    line-height: 1.5;
}
.phone, .email{
    display: inline-block;
    position: relative;
}
.email{
    margin-top: 10px;
}
.contac_information_img{
    position: absolute;
    bottom: 4px;
}
.social_icons{
    display: flex;
    margin-top: 50px;
    gap: 15px;
}
.social_image{
    width: 100%;
}
.social_link{
    width: 30px;
}
.information_container{
    margin-top: 65px;
}
@media (min-width: 1440px)
{
    .hero_text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
        margin-bottom: 10px;
    }
    .hero_tittle{
        font-size: 3em;
    }
    .hero_paragraph{
        align-self: center;
        width: 40%;    
        font-size: 18px;
    }
    .button{
        padding: 18px 70px;

    }
    .nav_img{
        width: 200px;
    }
    .nav_container{
        padding: 25px 25px;
    }
    .nav_button{
        padding: 0px 35px;
        font-size: 16px;
        font-weight: bolder;
        line-height: 2;
    }
    .hero_img{
        margin-top: 50px;
        max-width: 70%;
    }
    .numberss{
        margin-top: 150px;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    .numbers_container{
        width: 260px;
    }
    .numbers_number{
        font-size: 6em;
    }
    .numbers_paragraph{
        font-size: 18px;
        text-align: center;
    }
    .boxs_paragraph{
        font-size: 16px;
        margin-top: 10px;
    }
    .boxs_text_container{
        text-align: start;
        width: 35%;
    }
    .boxs{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 125px;
    }
    .boxs_subtitles{
        font-size: 2.5em;
    }
    .boxs_figure{
        width: 30%;
        margin: 0;
    }
    .box1, .box3{
        flex-direction: row-reverse;
    }
    .section_button_subtitle{
        font-size: 2.5em;
    }
    .top_footer{
        height: 175px;
        background: url("/images/bg-footer-top-desktop.svg");
        background-size: 100% 175px;
        background-repeat: no-repeat;
    } 
    .bottom_mobile2{
        background: url("/images/bg-section-bottom-desktop-2.svg");
        background-repeat: no-repeat;
        background-size: 100%;
        height: 170px;

    }
    .top_mobile_2{
        background: url("/images/bg-section-top-desktop-2.svg");
        background-repeat: no-repeat;
        background-size: 100%;
        height: 160px;
    }
    .bottom_mobile_1{
        background: url("/images/bg-section-bottom-desktop-1.svg");
        background-repeat: no-repeat;
        background-size: 100%;
        height: 160px;
    }
    .ola_down{
        background: url("/images/bg-section-top-desktop-1.svg");
        background-repeat: no-repeat;
        background-size: 100%;
        height: 160px;
    }
    .footerPage{
        display: flex;
        justify-content: space-around;
        flex-direction: row-reverse;
        padding: 75px 100px 100px;
        gap: 100px;
    }
    .information_container{
        line-height: 2;
        margin-top: 0;
        width: 30%;
    }
    .contac_container{
        width: 45%;
    }
    .contac_button{
        position: relative;
        top:-65px;
        right:45px;
    }
    .contac_form{
        width: 60%;
    }
    .contac_container{
        padding: 20px 0;
    }
    .contac_paragraph{
        width: 65%;
        font-size: 1em;
    }
    .information_logo{
        width: 275px;
        margin-top: -40px;
    }
    .contac_information_img{
        top: 7px;
        width: 20px;
    }
    .social_image{
        width: 40px;
    }
    .social_icons{
        margin-top: 100px;
        gap: 35px;
    }
    .contac_tittle{
        font-size: 2em;
    }
   
}






